
.about {
    display: inline-block;
    position: absolute;
    right: 80px;
    top: 50px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.about::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transform: translateY(420%);
    position: relative;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    text-align: center;
    margin: 0 auto;
    padding: 8px 14px;
    transform: translateY(100%);
    position: relative;
}

input {
    width: 200px;
    margin: 0 auto;
    font-family: 'Railway', sans-serif;
    padding: 8px 14px;
    position: relative;
}

button {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

