{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hit prediction</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Spotify Hit Prediction</h1>

   {% comment %} <form action="result">
        song: <input type="text" name="song" required>
        <input type="submit">
   </form> {% endcomment %}

    <form method="POST" action="{% url 'main' %}">
        {% csrf_token %}
        {{ form.as_p }}
    

        {% if is_in and val%}
            {{ song }}
            <br>
            <br>
            <p>Hit</p>
            <br>
            <p>accuracy: {{ acc }}%</p>
        {% elif is_in %}
            <p> {{ song }} </p>
            <p>Not a Hit</p>
            <p>accuracy: {{ acc }}%</p>
        {% elif song == '' %}

        {% else %}
            <p>{{ song }} not in the database</p>
        {% endif %}
    
        <br>

        <button type="submit">Submit</button>
    </form>
      
    <datalist id="choices">
        {% for choice in form.choices %}
          <option value="{{ choice }}">
        {% endfor %}
    </datalist>
      

</body>
</html>






