{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotify Hit prediction</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>


<style>
    .bg-image {
        background-image: url('/static/images/sur.jpg');
        position: center;
        background-size: cover;
    }
</style>

<body class="bg-image">
    <h1>Spotify Hit Prediction</h1>

    <h4>
        <a href="{% url 'about' %}" class="about">About</a>
    </h4>
 
    <form method="POST" action="{% url 'main' %}" >
        {% csrf_token %}
        {{ form.as_p }}
    
        {% if is_in_database and is_hit %}
           <p> {{ song }} </p>
            <p>Hit</p>
            <p>Accuracy: {{ acc }}%</p>
        {% elif is_in_database or is_hit %}
            <p> {{ song }} </p>
            <p>Not a Hit</p>
            <p>Accuracy: {{ acc }}%</p>
        {% elif song == ''%}
            <br>
        {% else %}
            <p>{{ song }} not in the database</p>
        {% endif %}

        <button type="submit">Predict</button>
    </form>
      
    <datalist id="choices">
        {% for choice in form.choices %}
          <option value="{{ choice }}">
        {% endfor %}
    </datalist>

</body>
</html>






